<div id="slider" data-section="home">
   <div class="owl-carousel owl-carousel-fullwidth">
    <!-- You may change the background color here. -->
    <% @games.each do |g| %>
      <div class="item" style="background: #352f44;">
        <div class="container" style="position: relative;">
          <div class="row">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text">
                <h1 class="fh5co-lead to-animate"><%= g.name %></h1>
                <div class="fh5co-sub-lead to-animate-2">
                  <% g.scores.each_with_index do |s, i| %>
                  <div class="col-lg-offset-3 col-lg-3 col-md-offset-3 col-md-3 col-sm-offset-3 col-sm-3 col-xs-4 col-xs-offset-0"><%= i+1  %></div>
                  <div class="col-lg-3 col-md-3 col-sm-3  col-xs-4"><%= s.user.name %></div>
                  <div class="col-lg-3 col-md-3 col-sm-3  col-xs-4"><%= s.amount %></div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="fh5co-our-services" data-section="games">
  <div class="container">
    <div class="row row-bottom-padded-sm">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Games</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 to-animate">
            <h3>Old Computer Games Couldn’t Be Won. They Just Got Harder and Faster Until You Died. Just Like Real Life</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <% @games.each do |g| %>
        <%= link_to g do %>
        <div class="col-md-4">
          <div class="box to-animate">
            <div class="icon colored-1"><span><i class="icon-mustache"></i></span></div>
            <h3><%=g.name%></h3>
            <p><%=g.description%></p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="fh5co-our-services" data-section="groups">
  <div class="container">
    <div class="row row-bottom-padded-sm">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Groups</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 to-animate">
            <h3>Old Computer Games Couldn’t Be Won. They Just Got Harder and Faster Until You Died. Just Like Real Life</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <%= link_to new_group_path do %>
      <div class="col-md-4">
        <div class="box to-animate">
          <div class="icon colored-1"><span><i class="icon-mustache"></i></span></div>
          <h3>New Group</h3>
          <p></p>
        </div>
      </div>
      <% end %>

      <% @groups.each do |g| %>
        <%= link_to g do %>
        <div class="col-md-4">
          <div class="box to-animate">
            <div class="icon colored-1"><span><i class="icon-mustache"></i></span></div>
            <h3><%=g.name%></h3>
            <ul>
              <% g.group_memberships.each do |gm| %>
                <%= gm.user.name %>
              <% end %>
            </ul>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="fh5co-about-us" data-section="about">
  <div class="container">
    <div class="row row-bottom-padded-lg" id="about-us">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">About Tappers</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 to-animate">
            <h3>Located near downtown Indianapolis in Historic Fletcher Place, Tappers Arcade Bar is Indianapolis' first retro arcade bar! Tappers focuses on regional craft beer and offers free-to-play arcade video games and cheap pinball. Tappers is a great place to come alone, or with a large group!</h3>
          </div>
        </div>
      </div>
      <div class="col-md-8 to-animate">
        <%= image_tag 'tappers', class: "img-responsive img-rounded" %>
      </div>
      <div class="col-md-4 to-animate">
        <h2>Location</h2>
        <p>501 Virginia Ave<br> Suite 102 <br>Indianapolis, Indiana 46203</p>
      </div>
    </div>
    <div class="row" id="team">
      <div class="col-md-12 section-heading text-center to-animate">
        <h2>Team</h2>
      </div>
      <div class="col-md-12">
        <div class="row row-bottom-padded-lg">
          <div class="col-md-4 text-center to-animate">
          </div>
          <div class="col-md-4 text-center to-animate">
            <div class="person">
              <%= image_tag 'matt_tappers', class: "img-responsive img-rounded" %>
              <h3 class="name">Matt Fair</h3>
              <div class="position">Web Designer</div>
              <p>I have no affiliation with tappers other than I am a patron.  I created this website because I wanted a way to track among my friends, who is elite.  The best of the best.</p>
              <ul class="social social-circle">
                <li><a href="https://twitter.com/Matt_Fair_86"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                <li><a href="http://www.matthewjfair.com"><i class="icon-screen-desktop"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 text-center to-animate">
            <div class="person">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
